In [6]:
 from selenium import webdriver
navegador = webdriver.Chrome()
navegador.get("https://google.com.br")

In [7]:
import pandas as pd

tabela = pd.read_excel("commodities.xlsx")
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32          NaN      NaN
1      Soja       163.59          NaN      NaN
2       Boi       282.20          NaN      NaN
3  Petróleo       424.37          NaN      NaN
4   Algodão       497.76          NaN      NaN
5    Açúcar       136.23          NaN      NaN
6      Café      1092.87          NaN      NaN
7      Ouro       321.77          NaN      NaN
8     Trigo      1549.11          NaN      NaN
9   Tilápia         9.05          NaN      NaN

In [8]:
for linha in tabela.index:
    produto = tabela.loc[linha, "Produto"]
    print(produto)
    produto = produto.replace("ó", "o").replace("ã","a").replace("ç","c").replace("ú","u").replace("é","e").replace("á","a")
    
    link = f"https://www.melhorcambio.com/{produto}-hoje"
    navegador.get(link)

    preco = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
    preco = preco.replace(".", "",).replace(",", ".")
    print(preco)
    tabela.loc[linha, "Preço Atual"] = float(preco)

# .click() -> clicar
# .send_keys("texto") -> escrever
# .get_attribute() -> pegar um valor

Milho
84.66
Soja
158.83
Boi
277.80
Petróleo
386.34
Algodão
482.28
Açúcar
134.68
Café
1106.86
Ouro
333.47
Trigo
1546.16
Tilápia
9.01

In [9]:
tabela["Comprar"] = tabela["Preço Atual"] < tabela["Preço Ideal"]
display(tabela)

tabela.to_excel("commodities_atualizado.xlsx", index = False)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        84.66     True
1      Soja       163.59       158.83     True
2       Boi       282.20       277.80     True
3  Petróleo       424.37       386.34     True
4   Algodão       497.76       482.28     True
5    Açúcar       136.23       134.68     True
6      Café      1092.87      1106.86    False
7      Ouro       321.77       333.47    False
8     Trigo      1549.11      1546.16     True
9   Tilápia         9.05         9.01     True

In [10]:
navegador.quit()